<h1>HomePage</h1>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Board name</td>
      <td>Creator</td>
    </tr>
    <% @mine_boards.each do |mine_board| %>
      <tr>
        <td><%= link_to mine_board.name, mine_board %></td>
        <td><%= mine_board.creator_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
